<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <div style="margin-top: 10px; margin-left:10px">
        <p>user님 반갑습니다.</p>
    </div>
    <div style="margin-bottom: 20px; margin-top: 10px">
        <form style="display: flex; align-items: center; justify-content: center; flex-direction: column"  method="get">
            <div>
                <input type="text" style="width:300px" name="keyword"/>
                <button id="searchBtn" type="submit" style="margin-left:10px">
                    <img src="searchboard/searchboard/src/main/resources/static/search.png"/>
                </button>
            </div>
            <div style="display: flex; margin-top:20px">
                <input type="checkbox" name="searchCategory" value="all" style="margin-right: 5px;" checked id="selectAll">전체검색 &nbsp&nbsp
                <input type="checkbox" name="searchCategory" value="title" style="margin-right: 5px;">제목 &nbsp&nbsp
                <input type="checkbox" name="searchCategory" value="content" style="margin-right: 5px;">내용 &nbsp&nbsp
                <input type="checkbox" name="searchCategory" value="fileName" style="margin-right: 5px;">첨부파일명 &nbsp&nbsp
                <input type="checkbox" name="searchCategory" value="fileContent" style="margin-right: 5px;">첨부파일내용 &nbsp&nbsp
            </div>

        </form>
    </div>
</div>
</html>
