<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link
          rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
  <link rel="icon" href="data:,">
  <title>SingUp</title>
</head>
<body>

<div class="container text-center" style="margin-top: 100px;">
  <div class="row justify-content-center">
    <div class="col-5">
      <h1>회원가입</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-5">
      <form th:action th:object="${SignUp}" method="post">
        <div class="mb-3">
          <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="아이디를 입력해주세요"
                  th:field="*{id}"/>
        </div>
        <div class="mb-3">
          <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                  placeholder="비밀번호를 입력해주세요"
                  th:field="*{pw}"/>
        </div>
        <div class="mb-2 d-flex justify-content-center text-secondary">
          이미 가입하셨나요?
          <span style="margin-left: 10px; font-weight: bold;" onclick="location.href='/login'" >로그인</span>
        </div>
        <button type="submit" class="btn btn-primary">회원가입</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
